body { background: #b3b8c1; font-family: "Lucida Grande", sans-serif; font-size: 11px; }
h1 { color: #fff; text-shadow: 3px 3px 3px black; margin-bottom: 1.1em; }
ul { padding-left: 0; }
#done li { color: #4b4b4c; background: #cfd2d7; list-style: url(images/done-check.gif) inside; margin-bottom: 1px; height: 27px; }
#done li * { vertical-align: 60%; }
#done li .leftcap { display: block; float: left; background: url(images/done-cap.gif); width: 4px; height: 27px; margin-right: 4px; }
#done li .rightcap { display: block; float: right; background: url(images/done-cap.gif) right; width: 4px; height: 27px; }
#done li .title { position: relative; top: 6px; }
#done { margin-top: 2px; }
#notdone li { color: #161616; background: #f7f7f7; list-style: url(images/notdone-check.gif) inside; margin-bottom: 1px; height: 27px; }
#notdone li * { vertical-align: 60%; }
#notdone li .title { padding-left: 15px; margin-top: 9px; position: relative; top: 6px; }
#notdone li .leftcap { display: block; float: left; background: url(images/notdone-cap.gif); width: 4px; height: 27px; margin-right: 4px; }
#notdone li .rightcap { display: block; float: right; background: url(images/notdone-cap.gif) right; width: 4px; height: 27px; }
#notdone { margin-bottom: 1px; padding-bottom: 0; }
.tags .tag { background: url(images/tag-bg.gif); height: 13px; font-family: "Myriad Pro"; float: left; margin-right: 6px; }
.tags .tag .tagtitle { position: relative; left: -2px; top: 1px; }
.tags { color: #3c4350; font-size: 10px; padding-top: 7px; float: right; }
#notdone .tags .tag .leftcap { width: 6px; background: url(images/tag-cap.gif); height: 13px; }
#notdone .tags .tag .rightcap { width: 6px; background: url(images/tag-cap.gif) right; height: 13px; }
#done .tags .tag { color: #797b7d; background: url(images/done-tags-bg.gif); }
#done .tags .tag .leftcap { width: 6px; background: url(images/done-tags-cap.gif); height: 13px; }
#done .tags .tag .rightcap { width: 6px; background: url(images/done-tags-cap.gif) right; height: 13px; }
#notdone li .duedate { display: block; float: right; color: #636363; border-left: 1px solid #cdcdcd; margin-left: 7px; padding-left: 20px; height: 18px; padding-right: 20px; padding-top: 9px; font-size: 9px; }
#done li .completed { color: #7b7b7c; font-size: 9px; margin-right: 20px; padding-left: 5px; position: relative; top: 6px; }
